page-favorites-page {

  ion-item {
    margin-bottom: 16px !important;
  }

  .item-block:first-child {
    border-top: none !important;
  }

  ion-item:last-child {
    border-bottom: none !important;
  }
  ul {
    margin: 4px 0;
    padding: 0px;

    &.rating li {
      padding: 5px 0 !important;
      background: none;
      color: color($colors, primary, base);

      ion-icon {
        font-size: 16px;
      }
    }
  }
}
